@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratM;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: MontserratB;
    src: url(../fonts/Montserrat-Bold.ttf);
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
a {
    text-decoration: none;
}

.box {
    width: 1200px;

}
.container {
    display: flex;
    justify-content: center;
}

.verh {
    background-image: url(../img/Layer\ 13.png);
}
.menu {
    
    display: flex;
    justify-content: space-between;
}
ul.verh__inner {
    display: flex;
}
.logoverh {
    padding: 40px 80px 0 80px;
}
.menuul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 60px 105px 0 0;
    text-transform: uppercase;
}
.menua {
    font-family: MontserratM;
    color: white;
    padding: 15px;

}
.menua_n {
    background-color: #130e27;
    font-family: MontserratM;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.menua:hover {
    background-color: #130e27;
    font-family: MontserratM;
    color: white;
    padding: 15px;
    border-radius: 5px;
    transition: all 300ms ease; 
}
.verh_text {
    padding-top: 135px;

}
.sell_your {
    margin: 0 0 0px 110px;
    font-size: 65px;
    font-family: MontserratB;
    text-transform: uppercase;
    color: #130e27;
    line-height: 65px;
}
.car_now {
    margin: 0 0 50px 110px;
    font-size: 65px;
    font-family: MontserratB;
    text-transform: uppercase;
    color: #fff;
    line-height: 65px;
}
.text_melkiy {
    margin: 0 0 0 110px;
    padding-bottom: 160px;
    max-width: 470px;
    font-size: 20px;
    font-family: serif;
    color: #fff;
}

.our {
    font-family: MontserratB;
    text-transform: uppercase;
    font-size: 36px;
    padding: 45px 0 100px 100px ;
    line-height: 36px;
    color: #130e27;
    margin: 0;
}
.service_cards {
    display: flex;
    justify-content: space-between;
    padding: 0 105px 0 85px;
}
.service_card {
    max-width: 165px;
    padding: 0 0 75px 0;
}
.logotype1 {
    padding: 7px 1px;

}
.logotype2 {
    padding: 9px 14px ;

}
.logotype3 {
    padding: 0 24px;

}
.logotype4 {
    padding: 2px 7px;

}
.cards_service_text {
    color: #161616;
    font-size: 20px;

    padding: 45px 0 0 0;
    margin: 0;
    line-height: 25px;
    text-align: center;
}
.our_story {
    height: 120px;
    background-color: #130e27;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our_story_text {
    display: flex;
    font-size: 20px;
    margin: 0;
    color: #fff;
    padding: 0 0 0 105px;
    max-width: 560px;
    align-items: center;
}
.our_story_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 270px;
    margin: 0 105px 0 0;
    font-size: 22px;
    text-transform: uppercase;
    font-family: MontserratM;
    color: white;
    background-color: #c62314 ;
    border-radius: 5px;
}
.prices {
    background-color: #efefef;
}
.pricing {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-family: MontserratB;
    text-transform: uppercase;
    color: #130e27;
    line-height: 50px;
    padding: 60px 0;
}
.pricing_cards {
    display: flex;
    justify-content: space-between;
    padding: 0 85px;
}
.price_cards {
    background-color: #fff;
    text-align: center;
    color: #161616;
    text-transform: capitalize;
    width: 320px;
    margin: 0 12px 65px 12px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.zvanie {
    font-size: 22px;
    margin: 0;
    line-height: 22px;
    padding-top: 35px;
}
.cena {
    color: #c62314;
    font-size: 60px;
    font-family: MontserratB;
    margin: 0;
    line-height: 60px;
    padding-top: 35px;
}
.bonusi {
    list-style: none;
    font-size: 20px;
    line-height: 28px;
    padding: 0;
}
.buy{
    background-color: #130e27;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    height: 50px;
    margin: 0 105px 0 0;
    font-size: 22px;
    text-transform: uppercase;
    font-family: MontserratM;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
}
.buy:hover {
    background-color: #c62314;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    height: 50px;
    margin: 0 105px 0 0;
    font-size: 22px;
    text-transform: uppercase;
    font-family: MontserratM;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
}
.podval {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 190px;
    background-color: #130e27;
}
.podval_text {

    font-size: 20px;
    line-height: 22px;
    color: #fff;
    align-items: center;
    padding-left: 85px;
}
.logopodval {
    margin-right: 105px;
    height: 70px;
    width: 205px;
}

